:root {
    --animation-speed: 1s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.mx-1{
    margin-left: .7rem;
}
.mt-2 {
    margin-bottom: 1rem;
}
.mt-1 {
    margin-bottom: .5rem;
}

header {
    background: url('../img/adult1.jpg') no-repeat center center/cover;
    height: 43.5rem;
    color: #fff;
}
.header__nav {
    padding: 1rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav ul {
    display: flex;
}
.header__nav ul li {
    margin: .5rem;
    padding: .6rem;
}
.header__nav ul li:hover,.current {
    background: #f04;
    border-radius: .2rem;
}
.header__nav ul li a{
    padding: .25rem;
    color: #fff;
}
.header__nav-text {
    font-size: 1.2rem;
}

.flex-center {
    margin-top: -3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.flex-center h3 {
    font-size: 2.85rem;
    text-align: center;
    opacity: 0;
    transform: translateY(-120rem);
    animation: slidedown var(--animation-speed) forwards ease;
}
@keyframes slidedown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.flex-center p {
    margin-top: .3rem;
    font-size: 1.3rem;
    text-align: center;
    transform: translateX(-120rem);
    animation: slideright var(--animation-speed) forwards ease 1s;
}
@keyframes slideright {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.flex-center h3, .flex-center p {
    width: 48%;
}
.flex-center a {
    margin-top: .7rem;
    background: #f04;
    padding: .6rem;
    border: 1px solid #f04;
    color: #fff;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(120rem);
    animation: slideup var(--animation-speed) forwards ease 1.4s;
}
@keyframes slideup {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.flex-center button:focus {
    outline: none;
}
.flex-center img {
    padding: 0 .5rem;
}

/* About */
.about {
    overflow: hidden;
    background: #f5f5f5;
    visibility: hidden;
    opacity: 0;
}
.flex-con {
    margin: 0 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-1 {
    min-height: 20rem;
    flex: 0 0 50%;
    margin-right: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-120rem);
    transition: all .3s ease-in-out;
    
}
.about.show {
    opacity: 1;
    visibility: visible;
}
.about.show .box-1 {
    transform: translateX(0);
}
.box-2 {
    min-height: 20rem;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    transform: translateX(120rem);
    transition: all .3s ease-in-out;
}
.about.show .box-2 {
    transform: translateX(0);
}
.uni {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.text-center {
    text-align: center;
}
.progressive-bar {
    background: #fff;
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.progressive-bar div{
    background: #f04;
    height: 100%;
    width: 30%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.about-photo {
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.projects {
    /* height: 33rem; */
    margin-bottom: 1rem;
}
.projects h3,.about h3 {
    padding-top: 1.6rem;
    text-align: center;
    font-size: 2.3rem;
    text-transform: uppercase;
    position: relative;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .6rem;
}
.tab {
    /* box-shadow: 1px 1px 2px #f5f5f5, -1px -1px 2px #f5f5f5;; */
    width: 73%;
    border: 1px solid #f5f5f5;
    border-left: 4px solid #f04;
}
.tab ul {
    display: flex;
    justify-content: space-around;
}
.tab ul li {
    margin: 0 1.4rem;
    padding: 1rem;
    font-size: 1.2rem;
}
.container .nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    padding: 0 3rem;
    margin-top: 1.3rem;
    position: relative;
}
.box {
    flex: 1;
    margin-right: 1.9rem;

}
.img-1 {
    object-fit: cover;
    background: url('../img/apple.jpg') no-repeat center center/cover;
}
.img-4 {
    object-fit: cover;
    background: url('../img/img-4.jpg') no-repeat center center/cover;
}
.img-3 {
    object-fit: cover;
    background: url('../img/adult.jpg') no-repeat center center/cover;
}
.btn-group {
    display: flex;
    width: 100%;
    margin-top: .3rem;
}
.project-con {
    flex: 1;
    position: relative;
    min-height: 23rem;

}
.text-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.flex {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.flex-col {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.text-header p{
    width: 100%;
    padding-top: 1rem;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: .7rem;
}
.features {
    padding: 1rem 0;
}
.features div {
    font-size: 1.2rem;
    font-weight: bold;
}
.features ul {
    display: flex;
    flex-wrap: wrap;

}
.features ul li {
    flex: 0 0 47%;
    padding: .5rem;
    font-size: .9rem;
    background: #fff;
    margin: .2rem;
    box-shadow: 1px 1px 2px lightgrey, -1px -1px 2px lightgrey;
}
.grey-circle {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}
.icon {
    position: absolute;
    top: 30%;
    background: #fff;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: .8rem;
    cursor: pointer;
    z-index: 3;
    box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc ;
}

.chev-left {
    left: 3%;
}
.chev-right {
    right: 3%;
}
.btn-danger {
    background: #f04;
    color: #fff;
    border: 1px solid #f04;

}
.btn-primary {
    background: blue;
    color: #fff;
    border: 1px solid blue;

}
.btn-md {
    margin-top: .7rem;
    padding: .7rem;
    cursor: pointer;
    display: inline-block;
}

.my-image {
    background: url('../img/tunde2.jpg') no-repeat center center/cover;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    transform: translateY(-120rem);
    animation: slidedown var(--animation-speed) forwards ease;
}
footer {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}
footer p {
    text-align: center;
    font-size: 1.1rem;
}
footer p a {
    color: black;
}
.project-con > .d-none {
    display: none;
    opacity: 0;
}
@media only screen and (max-width: 68rem) {
    .box {
        height: 25rem;
        width: 30rem;
    }
    .container .tab {
        width: 83%;
    } 
    .container .nav {
        width: 90%;
    }
}
@media only screen and (max-width: 62rem) {
    .box {
        height: 29rem;
        width: 27rem;
    }
}
@media only screen and (max-width: 54rem) {
    
    .container .nav {
        display: flex;
        flex-direction: column;
    }
    .flex-con {
        display: flex;
        flex-direction: column;
    }
    .box-2 {
        width: 100%;
    }
}
@media only screen and (max-width: 52rem) {
    .my-image {
        display: none;
    }
    .flex-center p {
        margin-top: 1.3rem;
    }
    .header__nav-text {
        margin-bottom: .4rem;
    }
}
@media only screen and (max-width: 46rem) {
    .header__nav {
        display: flex;
        flex-direction: column;
    }
    .header__nav div {
        text-align: center;
    }
    .header__nav ul {
        padding-top: .5rem;
    }
    .flex-center h3 {
        font-size: 2.6rem;
    }
    .header__nav-text {
        font-size: 1.5rem;
    }
    .box-1 {
        min-height: 15rem;
    }
}
@media only screen and (max-width: 38rem) {
    .flex-center h3, .flex-center p {
        width: 70%;
    } 
    .flex-center h3 {
        margin-top: -6rem;
    }
    .container .nav {
        width: 100%;
    }
}
@media only screen and (max-width: 32rem) {
    .header__nav{
        padding: 1rem 2rem;
    }
    .flex-center h3 {
        margin-top: -9rem;
    }
    .flex-center h3 {
        font-size: 2.4rem;
    }
    .flex-center h3, .flex-center p {
        width: 90%;
    }
    .container .nav {
        padding: 0 2rem;
    }
    
}